.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.about-text {
  font-size: 18px;
  line-height: 1.7;
}

h2 {
  font-size: 30px;
  letter-spacing: -0.5;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  margin-bottom: 3%;
  font-size: 18px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

@media (max-width: 425px) {
  .grid-3-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .about-text {
    margin: 0;
  }
  ul {
    margin: 0;
  }
  body {
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
}
