.grid-6-col {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 15px;
  margin-bottom: 25px;
}

.project {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project__name {
  margin: 0;
}

.project__img {
  width: 100%;
  border-radius: 15px;
}
