.grid-6-col {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 15px;
  margin-bottom: 25px;
}

.project {
  background-color: burlywood;
  border-radius: 15px;
  height: 150px;
}
