.hello-container {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.my-photo {
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 10px;
}

p {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  font-weight: bold;
}

@media (max-width: 425px) {
  .hello-container {
    flex-direction: column;
  }
  body {
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }
}
